body {
  background: #beccc2;
  color: #7a3d3d;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #7a484d;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #7a484d;
}

.site-header .navbar-nav .nav-link {
  color: #beccc2;
}

.site-header .navbar-nav .nav-link:hover {
  color: #beccc2;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #e8e5df;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #beccc2;
}

a.article-title:hover {
  color: #beccc2;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.account-heading {
  font-size: 2.5rem;
}
