{% extends "char_sheet/base.html"%}

{% load crispy_forms_tags %}

{% block content %}
  <title>{{name.name}}'s items</title>
  <article class="media content-section">
    <div class="media-body">
    <h2 style = "text-align:center">{{name.name}} carries: </h2>
      {% for it in query %}
        <h6 class="article-content">-> {{it.item_name}}</h6>
        <a class="btn btn-outline-secondary" href="{% url 'character_items-delete' it.pk %}"><small>stop carrying {{it.item_name.item_name}}</small></a>
      {% endfor %}
    </div>
  </article>
  <div class="media-body">
    <a class="btn btn-outline-secondary" href="{% url 'character_items-create' name.pk %}">Add an item for {{name.name}}</a>
  </div>
{% endblock content %}
