{% extends "char_sheet/base.html"%}

{% load crispy_forms_tags %}

{% block content %}
  <div class="content_section">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4"> Choose an item to add. You can add items only for your own characters </legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button cladd="btn btn-outline-info" type="submit"> add </button>
      </div>
    </form>
  </div>
{% endblock content %}
