{% extends "char_sheet/base.html"%}

{% block content %}
  <div class="content_section">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Unlearn ability</legend>
        <h2>Are you sure you want "{{ object.information_id.name }}" to unlearn "{{ object.abilities_id.ability_name }}"?</h2>
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-danger" type="submit"> Yes, unlearn </button>
        <a class="btn btn-outline-secondary" href="{% url 'char_sheet-knows' object.information_id.pk %}"> No, keep "{{ object.abilities_id.ability_name}}" </a>
      </div>
    </form>
  </div>
{% endblock content %}
