{% extends "char_sheet/base.html"%}
{% block content %}
<title>home</title>
  {% for character in characters %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        {% if character.player %}
          creator: {{ character.player }}
        {% else %}
           creator is unknown
        {% endif %}
      </div>
      <h2><a class="article-title" href="{% url 'character-detail' character.id %}">{{ character.name }}</a></h2>
      <p class="article-content">race: {{character.race}}, class: {{ character.job_class }}, level {{ character.level }}</p>
    </div>
  </article>
  <!-- <h1>{{ character.character_name }}</h1> -->
  <!-- <p> Played by {{ character.player }} as {{ character.class }} that is a {{ character.race }} </p> -->
  {% endfor %}
{% endblock content %}
