{% extends "char_sheet/base.html"%}

{% load crispy_forms_tags %}

{% block content %}
  <title>{{item.item_name}}'s enchantements</title>
  <article class="media content-section">
    <div class="media-body">
    <h2 style = "text-align:center">{{item.item_name}} is enchanted with: </h2>
      {% for it in query %}
        {% if it.enchantement_name.enchantement_name != "_" %}
          <h6 class="article-content">-> {{it.enchantement_name}}</h6>
          <a class="btn btn-outline-secondary" href="{% url 'item_enchantements-delete' it.id %}"><small>remove enchantement</small></a>
        {% endif %}
      {% endfor %}
    </div>
  </article>
  <div class="media-body">
    <a class="btn btn-outline-secondary" href="{% url 'item_enchantements-create' id.pk%}">Add enchantement</a>
  </div>
{% endblock content %}
